@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Staatliches&display=swap');
/* FONT STYLES 
font-family: 'Staatliches', cursive; 400;
font-family: 'Palanquin', sans-serif; 400;
*/

:root {
  font-size: 62.5%; /* settando tamanho padrão das fontes para 10px */

  --bc-header-primary: hsl(218, 17%, 62%);
  --bc-header-secondary: hsl(275, 18%, 79%);
  --bc-body-primary: hsl(233, 100%, 97%);
  --bc-images: hsl(312, 91%, 96%);

  --fc-primary: hsl(232, 17%, 35%);
  --fc-header: hsl(255, 100%, 100%);
  --fc-secondary: hsl(274, 84%, 12%);

  --ff-primary: 'Staatliches', cursive;
  --ff-secondary: 'Palanquin', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* ##### HEADER ##### */

header {
  background-color: var(--bc-header-primary);
  width: 38.4rem;
  height: 27.9rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header .logo {
  width: 13.7rem;
}
header .backgroundTitle {
  background-color: var(--bc-header-secondary);
  width: 38.4rem;
  height: 4.9rem;
}

header h1 {
  font-family: var(--ff-primary);
  color: var(--fc-header);
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
  filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}

/* ##### MAIN ##### */

.wrapper {
  background-color: var(--bc-body-primary);
  width: 38.4rem;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-block: 1.4rem 6rem;
}
.wrapper p {
  font-family: var(--ff-secondary);
  color: var(--fc-secondary);
  font-size: 2rem;
  line-height: 3rem;
  width: 32rem;
  margin-bottom: 4.3rem;
  text-align: center;
  margin-inline: auto;
}
#produtos {
  animation: downtop 300ms 300ms backwards;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.produto {
  position: relative;
  width: 32rem;
  margin-inline: auto;
}

.produto h2 {
  font-family: var(--ff-primary);
  color: var(--fc-primary);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background-color: var(--bc-images);
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
  width: 11.2rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  animation: topdown 800ms 300ms forwards;
}

/* ##### ANIMATION ##### */

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
